USE [master]
GO
/****** Object:  Database [Employees]    Script Date: 30/10/2020 9:55:23 AM ******/
CREATE DATABASE [Employees]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employees', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Employees.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employees_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Employees_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employees]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/10/2020 9:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 30/10/2020 9:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Salary] [float] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesTable]    Script Date: 30/10/2020 9:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesTable](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[HourlyWage] [float] NOT NULL,
	[HireDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmployeesTable] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobOrdersTable]    Script Date: 30/10/2020 9:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOrdersTable](
	[JobOrdersId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OrderDateTime] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_JobOrdersTable] PRIMARY KEY CLUSTERED 
(
	[JobOrdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectEmployeesTable]    Script Date: 30/10/2020 9:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectEmployeesTable](
	[ProjectEmployeesId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Hours] [int] NOT NULL,
 CONSTRAINT [PK_ProjectEmployeesTable] PRIMARY KEY CLUSTERED 
(
	[ProjectEmployeesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectsTable]    Script Date: 30/10/2020 9:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectsTable](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProjectsTable] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200901095642_InitialCreate', N'3.1.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200901100915_CorrectedProjectEmployeeTable', N'3.1.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201022121414_initalSetup', N'2.2.6-servicing-10079')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [Gender], [Salary]) VALUES (1, N'Atul', N'M', 123123)
INSERT [dbo].[Employee] ([ID], [Name], [Gender], [Salary]) VALUES (2, N'robin', N'M', 1234567432)
INSERT [dbo].[Employee] ([ID], [Name], [Gender], [Salary]) VALUES (3, N'lubana', N'M', 1234567)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeesTable] ON 

INSERT [dbo].[EmployeesTable] ([EmployeeId], [FirstName], [LastName], [HourlyWage], [HireDate]) VALUES (1, N'Atul', N'Mukhija', 68, CAST(N'1999-08-02T00:12:00.0000000' AS DateTime2))
INSERT [dbo].[EmployeesTable] ([EmployeeId], [FirstName], [LastName], [HourlyWage], [HireDate]) VALUES (2, N'ROBIN ', N'SHARMA', 90, CAST(N'2000-05-02T12:34:00.0000000' AS DateTime2))
INSERT [dbo].[EmployeesTable] ([EmployeeId], [FirstName], [LastName], [HourlyWage], [HireDate]) VALUES (3, N'MILAD', N'KATEBI', 70, CAST(N'2002-08-31T16:55:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EmployeesTable] OFF
GO
SET IDENTITY_INSERT [dbo].[JobOrdersTable] ON 

INSERT [dbo].[JobOrdersTable] ([JobOrdersId], [EmployeeId], [ProjectId], [Description], [OrderDateTime], [Quantity], [Price]) VALUES (1, 1, 1, N'DUMMY FLIGHT ROUTES', CAST(N'1999-10-02T01:01:00.0000000' AS DateTime2), 5, 15000)
INSERT [dbo].[JobOrdersTable] ([JobOrdersId], [EmployeeId], [ProjectId], [Description], [OrderDateTime], [Quantity], [Price]) VALUES (2, 2, 2, N'MAINTAINING SERVERS', CAST(N'2006-07-02T11:11:00.0000000' AS DateTime2), 2, 45000)
SET IDENTITY_INSERT [dbo].[JobOrdersTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectEmployeesTable] ON 

INSERT [dbo].[ProjectEmployeesTable] ([ProjectEmployeesId], [ProjectId], [EmployeeId], [Hours]) VALUES (1, 1, 1, 3500)
INSERT [dbo].[ProjectEmployeesTable] ([ProjectEmployeesId], [ProjectId], [EmployeeId], [Hours]) VALUES (2, 2, 3, 800)
INSERT [dbo].[ProjectEmployeesTable] ([ProjectEmployeesId], [ProjectId], [EmployeeId], [Hours]) VALUES (3, 2, 2, 1300)
SET IDENTITY_INSERT [dbo].[ProjectEmployeesTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectsTable] ON 

INSERT [dbo].[ProjectsTable] ([ProjectId], [Name], [StartDate], [EndDate]) VALUES (1, N'airline', CAST(N'1999-02-18T14:12:00.0000000' AS DateTime2), CAST(N'2010-02-22T15:34:00.0000000' AS DateTime2))
INSERT [dbo].[ProjectsTable] ([ProjectId], [Name], [StartDate], [EndDate]) VALUES (2, N'SERVER MAINTENANCE', CAST(N'2006-09-12T11:22:00.0000000' AS DateTime2), CAST(N'2011-07-08T14:54:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProjectsTable] OFF
GO
/****** Object:  Index [IX_JobOrdersTable_EmployeeId]    Script Date: 30/10/2020 9:55:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobOrdersTable_EmployeeId] ON [dbo].[JobOrdersTable]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobOrdersTable_ProjectId]    Script Date: 30/10/2020 9:55:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobOrdersTable_ProjectId] ON [dbo].[JobOrdersTable]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectEmployeesTable_EmployeeId]    Script Date: 30/10/2020 9:55:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectEmployeesTable_EmployeeId] ON [dbo].[ProjectEmployeesTable]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectEmployeesTable_ProjectId]    Script Date: 30/10/2020 9:55:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectEmployeesTable_ProjectId] ON [dbo].[ProjectEmployeesTable]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobOrdersTable]  WITH CHECK ADD  CONSTRAINT [FK_JobOrdersTable_EmployeesTable_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeesTable] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobOrdersTable] CHECK CONSTRAINT [FK_JobOrdersTable_EmployeesTable_EmployeeId]
GO
ALTER TABLE [dbo].[JobOrdersTable]  WITH CHECK ADD  CONSTRAINT [FK_JobOrdersTable_ProjectsTable_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectsTable] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobOrdersTable] CHECK CONSTRAINT [FK_JobOrdersTable_ProjectsTable_ProjectId]
GO
ALTER TABLE [dbo].[ProjectEmployeesTable]  WITH CHECK ADD  CONSTRAINT [FK_ProjectEmployeesTable_EmployeesTable_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeesTable] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectEmployeesTable] CHECK CONSTRAINT [FK_ProjectEmployeesTable_EmployeesTable_EmployeeId]
GO
ALTER TABLE [dbo].[ProjectEmployeesTable]  WITH CHECK ADD  CONSTRAINT [FK_ProjectEmployeesTable_ProjectsTable_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectsTable] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectEmployeesTable] CHECK CONSTRAINT [FK_ProjectEmployeesTable_ProjectsTable_ProjectId]
GO
USE [master]
GO
